In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('TMKOC11.csv')

In [ ]:
data = data.drop('Unnamed: 0', axis=1)

In [ ]:
def remove_substring(s):
  if "Taarak Mehta Ka Ooltah Chashmah" in s:
    s=  s.replace("Taarak Mehta Ka Ooltah Chashmah", "")
    parts = s.split(".")
    return int(parts[0])
  return s

In [ ]:
data["new_title"] = data["title"].apply(remove_substring)

In [ ]:
data.rename(columns={'new_title': 'episode_number'}, inplace=True)

In [ ]:
def remove_string(t):
  if "Taarak Mehta Ka Ooltah Chashmah" in t:
    t=  t.replace("Taarak Mehta Ka Ooltah Chashmah", "")
    parts = t.split(".")
    return parts[1]
  return t

In [ ]:
data["Episode_title"] = data["title"].apply(remove_string)

In [ ]:
def remove_sign(sn):
  if "–" in sn:
    sn=  sn.replace("–", "")
  return sn

In [ ]:
data["Episode_title"] = data["Episode_title"].apply(remove_sign)

In [ ]:
def extract_runtime(rn):
  if "FULL_HD2" in rn:
    rn=  rn.replace("FULL_HD2", "")
    #return rn
  return rn

In [ ]:
data["Runtime"] = data["metadata"].apply(extract_runtime)

In [ ]:
data = data.drop(['metadata', 'title'], axis=1)

In [ ]:
def Upload_date(Ud):
  Ud= Ud.split("mins")
  return Ud[1]

In [ ]:
data["Released_on"] = data["Runtime"].apply(Upload_date)

In [ ]:
def Upload_runtime(Ur):
  Ur= Ur.split("mins")
  return Ur[0]+"mins"

In [ ]:
data["Episode_runtime"] = data["Runtime"].apply(Upload_runtime)

In [ ]:
data.drop('Runtime', axis=1, inplace=True)

In [ ]:
new_order = ['episode_number', 'Episode_title', 'description', 'Episode_runtime', 'Released_on']
data = data[new_order]

In [ ]:
data.head(3)

,episode_number,Episode_title,description,Episode_runtime,Released_on
0,1,Taarak Mehta Introduces Himself And Society...,Taarak Mehta introduces himself and the societ...,21 mins,28 Jul 2008
1,2,Jethalal's Son Tapu Decides To Spend His Ho...,Jethalal's son Tapu decides to spend his holid...,18 mins,29 Jul 2008
2,3,Tapu Has Been The Worry Of Jethalal,"More than the society members, Tapu has been t...",19 mins,30 Jul 2008

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   episode_number   100 non-null    object
 1   Episode_title    100 non-null    object
 2   description      100 non-null    object
 3   Episode_runtime  100 non-null    object
 4   Released_on      100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB